{% extends "base.html" %}
{% load static %}
{% block title %} Product {% endblock %}

{% block contents %}
<main class="container mx-auto py-8 px-6">
    <div class="flex flex-col md:flex-row md:space-x-6">
        <aside class="w-full md:w-1/4 mb-6 md:mb-0">
            <div class="bg-white p-4 shadow rounded">
                <input class="w-full p-2 border border-gray-300 rounded mb-4" placeholder="Quick search" type="text" id="search-bar"/>
                <ul class="space-y-2"><li><a href="{% url 'index' %}?category=All" class="block p-2 rounded-md hover:bg-gray-200 {% if selected_category == 'All' %}bg-yellow-300 font-bold{% endif %}">All</a></li>
                    <li><a href="{% url 'index' %}?category=assaultrifle" class="block p-2 rounded-md hover:bg-gray-200 {% if selected_category == 'Assault Rifles' %}bg-yellow-300 font-bold{% endif %}">Assault Rifles</a></li>
                    <li><a href="{% url 'index' %}?category=sniper" class="block p-2 rounded-md hover:bg-gray-200 {% if selected_category == 'Sniper Rifles' %}bg-yellow-300 font-bold{% endif %}">Sniper Rifles</a></li>
                    <li><a href="{% url 'index' %}?category=machinegun" class="block p-2 rounded-md hover:bg-gray-200 {% if selected_category == 'Machine Guns' %}bg-yellow-300 font-bold{% endif %}">Machine Guns</a></li>
                    <li><a href="{% url 'index' %}?category=geranadelauncher" class="block p-2 rounded-md hover:bg-gray-200 {% if selected_category == 'Grenade Launcher' %}bg-yellow-300 font-bold{% endif %}">Grenade Launcher</a></li>
                    <li><a href="{% url 'index' %}?category=mortir" class="block p-2 rounded-md hover:bg-gray-200 {% if selected_category == 'Mortir' %}bg-yellow-300 font-bold{% endif %}">Mortir</a></li>
                    <li><a href="{% url 'index' %}?category=pistol" class="block p-2 rounded-md hover:bg-gray-200 {% if selected_category == 'Pistols' %}bg-yellow-300 font-bold{% endif %}">Pistols</a></li>
                    <li><a href="{% url 'index' %}?category=shotgun" class="block p-2 rounded-md hover:bg-gray-200 {% if selected_category == 'Shotguns' %}bg-yellow-300 font-bold{% endif %}">Shotguns</a></li>
                    <li><a href="{% url 'index' %}?category=submachineguns" class="block p-2 rounded-md hover:bg-gray-200 {% if selected_category == 'Submachine Guns' %}bg-yellow-300 font-bold{% endif %}">Submachine Guns</a></li>
                    <li><a href="{% url 'index' %}?category=homemadeexplosive" class="block p-2 rounded-md hover:bg-gray-200 {% if selected_category == 'Homemade Explosive' %}bg-yellow-300 font-bold{% endif %}">Homemade Explosive</a></li>
                </ul>
            </div>
        </aside>
        <section class="w-full md:w-3/4">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 gap-4">
                {% for item in products %}
                <a href="{% url 'detail' slug=item.slug %}" class="bg-white shadow rounded overflow-hidden">
                    <img alt="SS2-V2 A1" class="w-full" height="400" src="{{ item.image_url.url}}" width="200"/>
                    <div class="p-2 text-center">{{item.name}}</div>
                    <div class="p-2 text-center text-gray-600">Rp {{item.price}}</div>
                </a>
                {% endfor %}
            </div>
        </section>
    </div>
    </div>
</main>

 
{% endblock %}